* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(136, 0, 68);
}
a:hover {
    color: #000c35;
}

body{
    background-color: #000c35;
    color:#494949;
    font-family: 'Roboto', sans-serif;
    font-weight: 275;
}

li {
    margin: 25px auto auto 25px;
}

ul {
    list-style: none;
}


.header{
    position: center;
}
.jumbotron {
    background-image: url("./images/architecture-background-buildings-218983.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    max-height: 900px;
    min-height: 300px;
    height: 400px;
    color: rgb(136, 0, 68);
}
.links{
    background-color: rgb(102, 102, 102);
    color:  #000c35;
}

.background-info, .projects, .links, .interests {
    margin-top: 45px;
}
.background-info h2, .projects h2, .interests h2 {
    color: rgb(136, 0, 68);
    font-size: 45px;
    font-weight: 375;
    padding-bottom: 5px;
}
.background-info h3, .projects h3, .interests h3 {
    color: rgb(88, 0, 44);
    font-size: 30px;
    font-weight: 325;
}
.background-info p, .projects p, .interests p {
    color: rgb(102, 102, 102);
    font-size: 17px;
    font-weight: 275; 
}

.jumbotron h1 {
    font-weight: 400;
    font-size: 60px;
}
.jumbotron p {
    font-weight: 250;
    font-size: 25px;
}

.interests img {
    max-width: 100%;
    max-height: 58%;
    object-fit: contain;
}

.projects img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding-bottom: 10px;
}


